*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form{
  width:200px;
}
label{
  margin-top: 30px;
  font-weight: 600;
}
input{
  margin-bottom: 20px;
}